@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --root-font-size: 14px;
}

@layer base {
  $scrollbar-width: 8px;
  $border-radius: calc($scrollbar-width / 2);

  html, body {
    @apply h-full;
  }

  html {
    font-size: var(--root-font-size);
    scrollbar-width: thin;
    scrollbar-color: #c4c4c4 rgb(252 252 252 / 0%);
  }
}

@layer utilities {
  .v-pc-min-w {
    min-width: 64rem;
  }
}